replicaCount: 1

image:
  repository: k3d-journarry.localhost:5042/journarry-web
  pullPolicy: IfNotPresent
  tag: ""

service:
  type: ClusterIP
  port: 3000

httpRoute:
  parentRefs:
  - name: journarry-gateway
    sectionName: http
    kind: Gateway
  rules:
  - matches:
    - path:
        type: PathPrefix
        value: /
