replicaCount: 1

image:
  repository: localhost:5000/journarry-web
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 3000

httpRoute:
  parentRefs:
  - name: gateway
    sectionName: http
    # namespace: default
  hostnames:
  - journarry.local
  # List of rules and filters applied.
  rules:
  - matches:
    - path:
        type: PathPrefix
        value: /
